<Heading.one message="Welcome to the Counter!" />
<Heading.two message="If you dream it, we can count it!" />
<pre><%= inspect @live_action %></pre>
<.live_component let={{name, count}} module={Counter} id="counters" adding={@live_action != :index}>
  Your <%= name %> count: <%= count %>
</.live_component>
